body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f8;
}

.container{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:40px;
    margin-top:150px;
}

.card{
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    text-align:center;
    width:350px;
}

/* inputs e textarea */
textarea{
    width:100%;
    height:120px;
    padding:10px;
    font-size:16px;
    border-radius:8px;
    border:1px solid #ccc;
}

input{
    padding:10px;
    font-size:16px;
    border-radius:8px;
    border:1px solid #ccc;
}

/* botões */
button{
    margin-top:10px;
    padding:10px 15px;
    border:none;
    border-radius:8px;
    background:#2d7df6;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#1c5fd1;
}

.botoes{
    margin-top:10px;
}

/* topo */
.linha-topo{
    display:flex;
    gap:10px;
    margin-bottom:15px;
}

.linha-topo input{
    flex:1;
}

/* resultado alinhado */
.linha-resultado{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
}

/* lado esquerdo */
.datas{
    text-align:left;
}

/* lado direito */
.valor-lado{
    text-align:center;
}

.valor-lado span{
    font-size:20px;
    font-weight:bold;
    color:#2d7df6;
}

/* resultado custom */
#resultadoDias{
    font-weight:bold;
    color:#2d7df6;
}

.card input{
    display:block;
    width:100%;
    margin-bottom:10px;
}

#textoGerado{
    font-weight:bold;
    margin:10px 0;
    color:#2d7df6;
    word-break:break-word;
}